@import url('https://fonts.googleapis.com/css?family=Charmonman');

body{
  background-color: rgb(0, 255, 255);
}

h1 {
  font-size: 50px;
  color: rgb(0, 0, 0);
  font-family:'Charmonman'
    
}

p { 
  color: rgb(0, 0, 0)
}

a {
  color: rgb(112, 128, 145)
}

a:hover {
    color: rgb(95,158,160)
}
