@import url('https://fonts.googleapis.com/css?family=Charmonman|Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Chakra+Petch|Inconsolata|Rajdhani');
@import url('https://fonts.googleapis.com/css?family=Chakra+Petch|Inconsolata|Rajdhani|Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Chakra+Petch|Inconsolata|Monoton|Rajdhani|Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Concert+One|Shadows+Into+Light');

body{
  background-color: rgb(102, 204, 255);
}

h1 {
  font-size: 50px;
  color: rgb(0, 0, 0);
 font-family: 'Shadows Into Light', cursive;
}

p { 
  font-size: 14px;
  color: rgb(0, 0, 0);
  font-family: 'Concert One', cursive;
}

a {
  font-size: 22px;
  color: rgb (65,105,225);
  font-family: 'Concert One', cursive;
}

a:hover {
    color: rgb(230,230,250);
}
      

div {
  background-color:rgb(102, 217, 255);
  font-family:'Charmonman';
}
