@import url('https://fonts.googleapis.com/css?family=Charmonman|Inconsolata|Rajdhani|Roboto+mono|Concert+one|Shadow+Into+Light|Mali|Cabin+Sketch|Montserrat');

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    background-image: url(https://i.pinimg.com/originals/6e/82/da/6e82da26d3e8bdd2d3aee606db6539bd.png)
}



/* Header */
.header {
    padding: 20px;
    height: 130px;
    background-color: rgba(0, 0, 0, 0.8);
}

.header img {
    width: 50px;
    float: left;
    text-align: center;
    padding: 20px;
}

.menu {
    float: right;
    margin: 50px 20px;
    background-color: black;
}

.menu a {
    color: white;
    margin: 20px;
}

/* Main Profile */

.main-profile {
    padding: 20px;  
    
}

.biodata-1 {
    background-color: blueviolet;
    padding: 20px;
}

.kimnanjoon, .kimseokjin, .parkjimin, .jeongjeonguk {
    text-align: center;
    width: 20%;
    display: inline-block;
    margin: 0 1%;
}

.bodata-2 {
    background-color: blueviolet;
    padding: 20px;
}

.minyoongi, .junghoseok, .kimtaehyung {
    text-align: center;
    width: 20%;
    display: inline-block;
    margin: 0 1%;
}

h1 {
  font-size: 50px;
  color: rgb(0, 0, 0);
 font-family: 'Shadows Into Light', cursive;
}

h2 {
  font-size: 30px;
  font-family: 'Cabin Sketch', cursive;
}

p { 
  font-size: 15px;
  color: rgb(0, 0, 0);
 font-family: 'Montserrat', sans-serif;
}

a {
  font-size: 22px;
  color: rgb (65,105,225);
  font-family: 'Concert One', cursive;
  margin: 0, 20px;
  padding: top; 
}

a:hover {
    color: blue;
}


.parent {
  height: 100px;
}
